/static/*.ico
/latentspace
/layoutmethods/planit
/deprecated
/examples
/rooms
/assets
/suncg
/dataset
/test
/directvideo
/__pycache__
*/__pycache__
/level/test
./*.json
./*.png
*.wav
*.rar
mp.json
qs.png
./*.pyc
.pyc
*.pyc
sceneviewer/mapping/*
sceneviewer/results/*
/sketch_retrival/features
/sketch_retrival/MVCNN_stage_1
/sketch_retrival/MVCNN_stage_2
/sketch_retrival/objedge20
/sketch_retrival/runs
/sketch_retrival/tools/__pycache__/
/latentspace
./*.mp4
./*.mp3
./*.wav
/.idea/
/venv/
/csrmatrices/
/latentspace/pos-orient-3/
latentspace/ymatrix.npy
latentspace/four_points_xz.pt
static/js/SceneUIManager.js
latentspace/pos-orient-3/75.json
timecount.txt
mitsuba.ShaoKui.log
static/3rdparty/ammo.js
static/3rdparty/tf.min2.js
static/js/_deprecated.js
