trimesh==3.7.14
SQLAlchemy==1.2.13
scipy==1.0.1
Flask==1.0.2
Shapely==1.7.0
nltk==3.4.1
joblib==1.2.0
Flask_Cors==3.0.7
SoundFile==0.10.2
torch==1.2.0+cu92
matplotlib==2.2.2
librosa==0.7.0
baidu_aip==2.2.17.0
numpy==1.17.2
pyclipper==1.1.0.post1
Pillow==8.2.0
scikit_learn==0.23.2
