html, body{
  margin: 0; height: 100%;
  overflow: hidden;
}

#ui{
  margin: 0; height: 100%;
  overflow: hidden;
  position: relative;
}

#content{
    height: 100%;
}

#menubar{
  margin: 0;
}

#uibody{
  margin: 0; height: 95%;
  overflow: hidden;
  position: relative;
  background: #ffffff;
}

#retrieve{
  margin: 0; width: 25%;
  overflow: auto;
  float:left;
  background-color: #F0F0F0;
  min-width: 270px;
  height: 100%;
}

@media (max-width: 575.98px) {
  #retrieve {
    min-width: 220px;
  }
  #drawing-canvas {
    height: 200px;
    width: 200px;
  }
  .btn-responsive, .rapidSearch {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
  }
  .btn-canvas-responsive {
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .4rem;
  }
  .input-group-lg .input-group-append .btn {
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .4rem;
  }
  .input-group-lg .form-control {
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .4rem;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .btn-responsive, .rapidSearch {
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .4rem;
  }
}

@media (min-width: 1200px) {
  .btn-responsive {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .6rem;
  }
}

@media (min-width: 576px) {
  .btn-canvas-responsive {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .6rem;
  }
}

#scene{
  margin: 0; width: 100%; height:100%;
  overflow: hidden;
}

#scenecanvas{
  width: 100%; height:100%;
}

#orthcanvas{
  position:absolute;
  width: 200px; height:200px;
  left:0%;
  bottom: 0px;
}

.radialMenu {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 19px;
}

.radialMenu .radial__item, .radialMenu .radial__button {
  background: #2a7ae5;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.radialMenu .radial__button {
  cursor: pointer;
}

.radialMenu .radial__item {
  z-index: -1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition:  all 0.5s;
}

.radialMenu .radial__item.show {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition:  all 0.5s;
}

.catalogSectionContent {
    position: relative;
    width: 100%;
    overflow-y: auto;
}

.catalogItem {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-bottom: 1px solid #96a2ad;
  border-right: 1px solid #96a2ad;
  background: #fafafa center center no-repeat;
  background-size: 110px 110px;
  cursor: move;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#drawing-canvas {
  display: block;
  position: relative;
  background-color: #000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3000;
  margin: auto;
  cursor: crosshair;
}

.nav_sk_button{
  display: inline-block;
  width: 90%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

#title {
  color: white;
  text-decoration: none;
}

.btn-outline-light:hover {
  /* color:#f3969a; */
  color:#78c2ad;
}

#sceneInfo.collapse.show {
  min-height: 150px;
}

a.dropdown-toggle, a.dropdown-toggle:hover, a.dropdown-toggle:focus {
  color: #5a5a5a;
  text-decoration: none;
}
